*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #fbe4ff;
}

.list {
  list-style: none;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  /* max-width: 1321px; */
  max-width: 1354px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section__title {
  font-style: italic;
  font-size: 4.4rem;
  font-weight: 400;
  color: #202846;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 11px;
}

/* header */

header {
  background-color: #243b93;
}

.header {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 90%;
}

.main__navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  margin: 0;
  width: 76%;
  align-items: center;
}

.nav__item {
  width: calc(100% / 5);
  text-align: center;
  max-width: 170px;
}

.nav__link {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 2px;
  color: #ffffff;
  display: block;
  padding: 22px 0;
}

.nav__item:last-child .nav__link {
  padding: 12px 0;
}

.header__language {
  display: flex;
  align-items: center;
}

.header__language > img {
  margin-right: 12px;
}

.header__language > span {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffffff;
}

/* Забронювати будиночок */

.booking__title-block {
  background-color: #bff0ff;
}

.booking__list-block {
  padding-top: 27px;
  padding-bottom: 39px;
}

.location {
  font-size: 2.8rem;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 61%);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.booking__list {
  margin-top: 0;
}

.booking__item {
  display: flex;
  background-image: linear-gradient(to right, #adcbd4, #00aee5);
  position: relative;
  padding: 14px 4% 21px 4%;
  align-items: flex-end;
}

.booking__item:not(:last-child) {
  margin-bottom: 42px;
}

.booking__image {
  margin-right: 2%;
}

.booking__text {
  max-width: 739px;
  width: 61%;
}

.booking__text-title {
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  color: #353c57;
  margin-top: 0;
  margin-bottom: 10px;
}

.booking__text-title::after {
  content: "";
  display: block;
  border: 3px solid #ffffff;
  margin-bottom: 10px;
}

.booking__text-description-wrapper {
  background-color: #edfbff;
  min-height: 205px;
  padding: 10px 16px;
}

.booking__text-description {
  font-size: 2.2rem;
  color: #202846;
  margin: 0;
  max-width: 605px;
}

.star {
  position: absolute;
  top: 6px;
  right: 6px;
  fill: #ffffff;
}

.booking__item a {
  font-size: 2.4rem;
  position: absolute;
  background-color: #243b93;
  color: #ffffff;
  padding: 2px 30px 6px 38px;
  border-radius: 30px;
  bottom: 11px;
  right: -33px;
}

.booking__item:hover {
  background-image: linear-gradient(to right, #2cbdeb, #2cbdeb);
  box-shadow: 0 0 60px 4px #2cbdeb;
}

.booking__item:hover .star {
  fill: #fff500;
}

.booking__item:hover a {
  background-color: #ef075b;
}

/* Особистий кабінет */

.personal-page__title-block {
  background-image: linear-gradient(to right, #ffe601, #55d6ff);
  margin-bottom: 36px;
}

.personal-page__wrapper {
  display: flex;
  background-image: linear-gradient(to bottom, #859eff, #69ffd2);
  padding-top: 45px;
  padding-bottom: 45px;
  align-items: center;
  gap: 12%;
  padding-left: 11%;
  padding-right: 6%;
}

.personal-page__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}

.personal-page__options img {
  margin-bottom: 35px;
}

.personal-page__wrapper .link {
  font-size: 2.4rem;
  color: #ffffff;
  background-color: #243b93;
  padding: 10px;
  border-radius: 30px;
  width: 100%;
  text-align: center;
}

.personal-page__wrapper .link:hover {
  background-color: #ef075b;
}

.change__avatar {
  margin-bottom: 26px;
}

.personal__data {
  font-style: italic;
  font-size: 3.6rem;
  color: #353c57;
  width: 65%;
}

.personal__data h3 {
  margin: 0;
  line-height: 80px;
}

.personal__data div::before {
  content: "";
  display: block;
  border: 2px solid #ffffff;
}

.personal__data div {
  font-weight: 700;
  line-height: 80px;
}

.personal__data span {
  font-weight: 400;
}

.link-container {
  display: flex;
  justify-content: center;
}

.link-container > .link {
  font-size: 2.4rem;
  min-width: 174px;
  padding: 10px;
  background-color: #243b93;
  color: #ffffff;
  border-radius: 30px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 49px;
}

/* Контакти */

.contacts__title {
  background-image: linear-gradient(to right, #54d6ff, #ffe600);
  margin-bottom: 25px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}

.contacts__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  max-width: 706px;
  justify-content: space-between;
  margin-right: 10px;
}

.contacts__list h3,
.contacts__list a {
  font-weight: 400;
  font-size: 3.2rem;
  color: #000000;
  margin: 0;
}

.contacts__list a {
  font-size: 3rem;
}

.contacts__list h3::after {
  content: "";
  border: 2px solid #202846;
  display: block;
}

iframe {
  max-width: 506px;
  width: 100%;
  height: 296px;
  flex-shrink: 0;
}

/* footer */

.footer {
  background-color: #243b93;
  margin-top: 28px;
}

.footer p {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 0;
  padding: 23px 0;
}
